/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

/* Variables - Change colors here */
:root {
--accent-color: #6C01DF;
}
  
@import url('https://rsms.me/inter/inter.css');

/* Fonts */

body {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* Buttons */

.btn {
  border-radius: 5px;
}

.btn-blue {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.btn-blue:hover {
  border-color: #357ae8;
}

/* Header */

header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--accent-color);
  padding: 15px;
}

header a .fa, header h1 {
  color: white;
}

.title-container h1 {
  font-size: 1em;
}

/* Header jump to  bar */

.select-dropdown-input-container {
  border: none;
  background-color: transparent;
}

.select-dropdown-input-container input.select-dropdown-input {
  background-color: #00000050;
  width: 100%;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.select-dropdown-input-container input.select-dropdown-input:focus {
  background-color: white;
}

.select-dropdown-input-container input.select-dropdown-input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

.select-dropdown-input-container input.select-dropdown-input::-moz-placeholder {
  color: white;
  opacity: 1;
}

.select-dropdown-input-container input.select-dropdown-input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.select-dropdown-input-container input.select-dropdown-input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.select-dropdown-input-container input.select-dropdown-input::placeholder {
  color: white;
  opacity: 1;
}

.select-dropdown-input-container input.select-dropdown-input:focus::-webkit-input-placeholder {
  color: #dedede;
  opacity: initial;
}

.select-dropdown-input-container input.select-dropdown-input:focus::-moz-placeholder {
  color: #dedede;
  opacity: initial;
}

.select-dropdown-input-container input.select-dropdown-input:focus:-ms-input-placeholder {
  color: #dedede;
  opacity: initial;
}

.select-dropdown-input-container input.select-dropdown-input:focus::-ms-input-placeholder {
  color: #dedede;
  opacity: initial;
}

.select-dropdown-input-container input.select-dropdown-input:focus::placeholder {
  color: #dedede;
  opacity: initial;
}

.select-dropdown-input-container .select-dropdown-chevron {
  color: white;
  top: 7px;
}

.select-dropdown-input-container input.select-dropdown-input:focus + .select-dropdown-chevron {
  color: #555;
}

/* Header links */

header a:hover {
  background-color: #ffffff50;
}

header a {
  padding: 5px;
  border-radius: 5px;
}

header .notification a .fa {
  padding-right: 0;
}

/* Page headers */

#main .page-header, .project-header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: -5px;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

#main .page-header ul {
  margin-top: 0;
}

#main .page-header ul li, #main .page-header ul a {
  padding: 5px;
}

#main .page-header ul a {
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

#main .page-header ul a:hover {
  background-color: #00000030;
}

/* Task board */

#board {
  border-collapse: initial;
  border-spacing: 15px 0;
}

#board td {
  border: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fdfdfd;
}

.board-column-header {
  border: none;
  border-bottom: 1px solid #eee;
}

.board-column-header .board-column-expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.board-add-icon {
  height: 35px;
  min-width: 35px;
}

.board-add-icon a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  text-decoration: none !important;
}

.board-add-icon a:hover {
  background-color: #00000050;
}

.board-add-icon a i {
  font-size: 1em;
  padding-right: 0;
}

.board-add-icon a i, .board-add-icon a:hover i {
  color: #333;
}
